{% extends 'base.html.twig' %}
{% block title %}Login Form{% endblock %}
{% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{{ asset('js/createdJobData.js') }}"></script>

{% endblock %}
{% block body %}

<link href="{{ asset('css/createdJobData.css') }}" rel="stylesheet"/>
<div class="body">
    <div class="container-fluid p-0">
        <nav class="navbar navbar p-0">
        <div class="left">
            <div class="logo">
                <a class="navbar-brand " href="#">
                <img src="{{ asset('img/webkul_logo.png') }}" class="logo" alt="">
                </a>
            </div>
            <div class="webkul">
            <span class="logo-content"> Webkul</span>
            </div>
        </div>
        <div class="nav-right">
          <a href="{{path('userprofile',{'mail': mail })}}" class="link1">User Profile</a>
          <a href="{{path('logout')}}" class="link1" onclick="return logout()">Logout</a>
        </div>
        </nav>
    </div>

        <div class="row m-5">
      <div class="col-lg-4 ">
        <div class="f-link">
           <a href="{{path('publish',{'mail': mail })}}" class="btn-a" onclick="return publishpost()">Your Publish Post</a>
        </div>   
       </div>
      <div class="col-lg-6">
           <div class="m-link">
           <div class="btm-para">You can edit your post only here before publishing it.</div>
           </div>   
      </div>
      <div class="col-lg-2 ">
          <div class="s-link">
           <a href="{{path('alldelunpub',{'mail': mail })}}" class="btn-a" onclick="return alldel()">All Delete</a>
           </div>              
      </div>
    </div>



    <div class="div2 ">
      <form method="POST" action="{{path('multidel',{'mail': mail})}}">
       <input type="submit" name="mul_delete" class="mul-del" value="Delete" onclick="return mulDel()">
      <table class="table1" border="1" cellSpacing="0"> 

        <thead class="thead-dark">
          <tr >
            <th class="col" width="9%"><input type="checkbox" id="select_all" name="" value=""></th>
            <th class="col" width="9%">Company </th>
            <th class="col" width="16%">Name</th>
            <th class="col" width="20%">Email</th>
            <th class="col" width="12%">Location</th>
            <th class="col" width="15%">Title</th>
            <th class="col" width="19%">Actions</th>

          </tr>
        </thead>
      </table>


      {% for job in jobs %}  
      <table class="table1 table2" border="1" cellSpacing="0" >
        <tbody>
          <tr height="">
            <td width="9%"><input type="checkbox" class="checkbox" name="multiple_delete[]" value={{job.id}}> </td>
            <td width="9%"><img src={{asset(job.url)}} alt="" class="img-data"></td>
            <td width="16%">{{job.name}}</td>
            <td width="20%">{{job.email}}</td>
            <td width="12%">{{job.location}}</td>
            <td width="15%">{{job.title}}</td>
            <td width="19%">
                <a href="{{path('delunpublish',{'id': job.id ,'mail': job.email})}}" class="delete" onclick="return cnfDelete();"><i class="fa-solid fa-trash"></i></a>
                <a href="{{path('editjob',{'id': job.id ,'mail': job.email})}}" class="update" onclick="return cnfEdit();"><i class="fa-solid fa-pen" ></i></a>
                {# <a href="" class="publish" onclick="return cnfView();"><i class="fa-solid fa-eye"></i></a> #}
                <a href="{{path('publishdata',{'id': job.id ,'mail': job.email})}}" class="publish" onclick="return cnfPublish();"><i class="fa-solid fa-upload"></i></a>
            </td>
          </tr>
        </tbody>
        </table>
        {% endfor %}
        </form>
        <br>
        <div class="paginate">
        {{knp_pagination_render(jobs)}}
        </div>
      </div>
   </div>
</div> 

</div>

<div class="container-fluid p-0 mt-5">

  <footer class="bg-dark text-center text-white pt-5">
  <div class="container p-4 pb-0">
    <section class="mb-4">
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
    </section>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://webkul.com/">webkul.com</a>
  </div>
</footer>
  
</div>

{% endblock %}
